$white: #fff;
$black: #000;
$orange: #ff982d;
$green: #46b450;
$primary: #55bbcb;

$gray-100: #f7fafc;
$gray-200: #edf2f7;
$gray-300: #e2e8f0;
$gray-400: #cbd5e0;
$gray-500: #a0aec0;
$gray-600: #718096;
$gray-700: #4a5568;
$gray-800: #2d3748;
$gray-900: #1a202c;

$heading-color: #444;

$row-border-color: #e4e4e4;

$input-bg-color: #fff;
$input-border-color: #ddd;
$input-text-color: #333;
$input-focus-color: #a3dae3;

$desc-text-color: #777;
$link-shadow-color: rgba(#a3dae3, 0.5);

$progress-bullet-color: #a3dae3;
$progress-text-color: darken($progress-bullet-color, 10%);
$progress-bar-color: lighten($progress-bullet-color, 18%);
$progress-active-color: darken($progress-bullet-color, 20%);


@import "jqueryui";
@import "datepicker";

#wpcontent {
  position: relative;
  padding-left: 0 !important;
}

#wc-pdf-invoices-bulk-download-container {
  margin: 0;
}

.wc-pdf-invoices-bulk-download-container {

  .dashicons,
  .dashicons-before:before {
    font-family: dashicons !important;
  }

  .link-shadow {
    padding: 5px 3px;
    box-shadow: inset 0 -10px 0 $link-shadow-color;
  }

  .wrapper {
    padding: 0;
  }

  .page-title {
    box-sizing: border-box;
    position: fixed;
    z-index: 1001;
    top: 32px;
    width: 100%;
    min-height: 80px;
    margin: 0;
    padding: 20px;
    background: $white;
    box-shadow: 0 8px 8px 0 rgba($black, 0.1);

    h2 {
      display: flex;
      align-items: center;
      margin: 0;
      text-transform: uppercase;
      color: $heading-color;
      font-size: 28px;
      font-weight: 700;

      .dashicons {
        padding: 5px;
        border: 3px solid $heading-color;
      }
    }

    .dashicons,
    .dashicons-before:before {
      width: auto;
      height: auto;
      margin-right: 8px;
    }
  }

  .page-content {
    padding: 120px 20px 20px 20px;

    & *,
    & *::after,
    & *::before {
      box-sizing: border-box;
    }
  }

  .clear {

    &::after,
    &::before {
      display: table;
      content: " ";
    }

    &::after {
      clear: both;
    }
  }

  .setting-row {
    padding: 30px 0;
    border-bottom: 1px solid $row-border-color;
    font-size: 14px;
    line-height: 1.3;

    h2,
    h4 {
      margin: 0 0 6px 0;
      color: $heading-color;
      font-size: 20px;
      font-weight: 700;
    }

    h2 {
      margin-bottom: 15px;
    }

    &:first-of-type {
      padding-top: 10px !important;
    }

    &.section-heading {
      padding: 20px 0;

      .setting-field {
        margin: 0;
      }
    }

    input[type=text],
    input[type=email],
    input[type=number],
    input[type=password],
    select {
      width: 400px;
      min-height: 35px;
      display: inline-block;
      margin: 0 10px 0 0;
      padding: 7px 12px;
      vertical-align: middle;
      color: $input-text-color;
      border: 1px solid $input-border-color;
      border-radius: 4px;
      background-color: $input-bg-color;
      box-shadow: none;
      line-height: 1.3;

      @media (max-width: 959px) {
        width: 300px;
      }

      &:focus {
        border: 1px solid $input-focus-color;
        outline: none;
        box-shadow: 0 0 0 1px $input-focus-color;
      }
    }

    p {
      margin: 12px 0 0;
      font-size: 14px;
      line-height: 1.5em;

      &:first-of-type {
        margin: 8px 0 0 0;
      }

      &.desc {
        clear: both;
        width: 100%;
        margin: 8px 0 0 0;
        color: $desc-text-color;
        font-style: italic;
      }
    }
  }

  .setting-label {
    float: left;
    width: 205px;
    display: block;
    padding: 5px 20px 0 0;

    label {
      display: block;
      font-weight: 600;
    }
  }

  .setting-field {
    max-width: 800px;
    display: block;
    margin: 0 0 0 205px;
  }

  .setting-submit {
    margin: 0;
    padding: 25px 0;
  }

  .btn {
    min-height: 35px;
    display: inline-block;
    margin: 0 15px 0 0;
    padding: 8px 28px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    color: $white;
    border: 0;
    border-color: $primary;
    border-radius: 3px;
    outline: none;
    background-color: $primary;
    box-shadow: none;
    text-shadow: none;
    font-size: 13px;
    font-weight: 600;

    &.hidden {
      display: none !important;
    }

    &:hover {
      color: $white;
      border-color: darken($primary, 10%);
      background-color: darken($primary, 10%);
    }

    &:focus {
      box-shadow: 0 0 0 1px $white, 0 0 0 3px darken($primary, 10%);
    }

    &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }
  }

  .checkbox-group {
    margin: 0 0 8px 0;

    &.inline {
      width: 30%;
      display: inline-block;
      margin: 0 15px 8px 0;
    }

    input[type=radio],
    input[type=checkbox] {
      float: left;
      margin: 0;
    }

    label {
      margin: 0 0 0 8px;
      vertical-align: baseline;
    }
  }

  .inner-group {
    width: 100%;
    margin: 15px 0;
    margin-left: 30px;
  }

  .input-group {
    float: left;

    .label {
      display: block;
      margin: 0 0 3px;
      font-size: 12px;
    }

    input[type=text],
    input[type=email],
    input[type=number],
    input[type=password],
    select {
      width: 195px;
    }
  }

  .radio-field {
    margin-right: 30px;
  }

  .notices-container {
    position: fixed;
    z-index: 1002;
    top: 120px;
    right: 30px;
    bottom: auto;
    left: auto;
    max-width: calc(100% - 64px);
    text-align: right;
    pointer-events: none;
  }

  .notice-box {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 24px;
    animation-name: backInRight;
    animation-duration: 0.2s;
    animation-fill-mode: both;
    text-align: left;
    pointer-events: auto;
    color: $white;
    border-radius: 3px;
    background: #414141;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 56px rgba(0, 0, 0, 0.15);
    line-height: 1.5;

    .notice-icon {
      width: 47px;
      display: flex;
      align-items: baseline;
      justify-content: center;
      color: $white;
      border-radius: 3px 0 0 3px;
      background: #747474;
      align-self: stretch;
      flex-shrink: 0;

      svg {
        margin-top: 12px;
      }
    }

    &.is-info {
      .notice-icon {
        background: #007cba;
      }
    }

    &.is-success {
      .notice-icon {
        background: #4ab866;
      }
    }

    &.is-error {
      .notice-icon {
        background: #d94f4f;
      }
    }

    &.is-warning {
      .notice-icon {
        background: #f0b849;
      }
    }

    .notice-content {
      flex-grow: 1;
      padding: 13px;
      font-size: 14px;
    }

    .dismiss {
      overflow: hidden;
      padding: 13px 16px 0;
      cursor: pointer;
      color: #bbb;
      outline: 0;
      box-shadow: none;
      flex-shrink: 0;

      &:hover {
        color: $white;
      }

      svg {
        width: 24px;
        height: 24px;
      }
    }

    svg {
      fill: currentColor;
    }
  }

  .side-panel-wrapper {
    box-sizing: border-box;
    position: fixed;
    z-index: 1003;
    top: 126px;
    right: 0;
    width: 100%;
    height: calc(100vh - 126px);
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba($black, 0.5);

    @media (min-width: 783px) {
      top: 112px;
      height: calc(100vh - 112px);
    }

    .side-panel-content {
      width: 783px;
      max-width: 100%;
      min-height: 100%;
      margin-left: auto;
      transition: transform 0.2s ease;
      transform: translateX(100%);
      background: #f3f4f5;
    }

    &.open {
      .side-panel-content {
        transform: none;
        box-shadow: 0 0px 0px 0 rgba($black, 0.1);
      }
    }

    .side-panel-section {
      padding: 20px;

      table {
        border-color: #eee;

        thead {
          th {
            border-color: #eee;
            font-weight: 700;
          }
        }
      }
    }
  }
}

@keyframes backInRight {
  0% {
    opacity: 0.7;
    transform: translateX(2000px) scale(0.7);
  }

  80% {
    opacity: 0.7;
    transform: translateX(0px) scale(0.7);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}